click
Flask
itsdangerous
Jinja2
MarkupSafe
Werkzeug
transformers  @ file://./saved_packages/transformers-4.46.2-py3-none-any.whl
flask_cors
torch @ file://./saved_packages/torch-1.x.x-cp39-cp39-win_amd64.whl
